// Navigation code here



.navbar{
    .display-flex-center(column);
    margin:1%;

    h1{
        .display-flex-center(row);
        font-size: 4rem;
    }

    nav{
        .display-flex-center(row);
        justify-content: space-around;
        margin: 1%;
        width: 25%;
        a{
            text-decoration: none ;
            color:@shuttle-gray;
            font-size: 1.7rem;
          }
    }

}
